body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000000;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px;
  border-radius:10px;
  position:absolute;
}
.blinkyDancer{
  position:absolute;
  background-color:#f00;
  width:80px;
  height:80px;
  border-radius:50%;

}
.tayne{
  position:absolute;
  background-image:url('tayne.gif');
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}